@use "variables.scss";
@use "normalize.scss";
@use "base.scss";
@use "type.scss";

body {
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

a {
  text-decoration: none;
}
